@model List<ResultBookingDto>
@{
   ViewData["Title"] = "Index";
   Layout = "~/Views/AdminLayout/Index.cshtml";
   int count = 0;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header">
                  <div class="card-title">Rezervasyon Listesi</div>
               </div>
               <div class="card-body">
                  <div class="card-sub">
                     Rezervasyon ile ilgili İşlemler :
                  </div>
                  <table class="table mt-3">
                     <thead>
                        <tr>
                           <th scope="col">#</th>
                           <th scope="col">Ad Soyad</th>
                           <th scope="col">Telefon</th>
                           <th scope="col">Mail</th>
                           <th scope="col">Kişi Sayısı</th>
                           <th scope="col">Rezervasyon Durumu</th>
                           <th scope="col">Rezervasyon Tarihi</th>
                           <th scope="col" class="d-flex justify-content-center">İşlemler</th>
                        </tr>
                     </thead>
                     <tbody>
                        @foreach (var item in Model)
                        {
                           <tr>
                              <th>
                                 @{
                                    count++;
                                 }
                                 @count
                              </th>
                              <td>@item.Name</td>
                              <td>@item.Phone</td>
                              <td>@item.Mail</td>
                              <td>@item.PersonCount</td>
                              <td>Alındı</td>
                              <td>@item.Date.ToString("dd.MM.yyyy")</td>

                              @* <td>
                                 @{
                                    var Durum = item.Phone == true ? "Aktif" : "Pasif";
                                 }
                                 @Durum
                              </td> *@
                              <td class="d-flex justify-content-center">

                                 <a href="/Booking/DeleteBooking/@item.BookingID" class="btn fw-bold" title="Sil">
                                    <i class="fa fa-trash-o" style="font-size:24px"></i>
                                 </a>

                                 <a href="/Booking/UpdateBooking/@item.BookingID" class="btn fw-bold" title="Düzelt">
                                    <i class="fa fa-pencil" style="font-size:24px"></i>
                                 </a>

                              

                              </td>
                           </tr>
                        }
                     </tbody>
                  </table>
                  <a href="/Booking/CreateBooking/" class="btn btn-info w-100 fw-bold " style=" letter-spacing:5px">Yeni Rezervasyon Ekle</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>